# macOS
.DS_Store

# Xcode build output
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
ExportOptions.plist

# Swift Package Manager
.build/

# Local distribution output
dist/
